body{

    background-image: url("images/background-adare-restaurant.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;


}

header{
    height: 118px;
    text-align: center;



}

nav{
height: 40px;
text-align: center;


}

nav a {

    color: white;
    text-decoration: underline;
    padding: 10px 25px;

}



main{
height: 400px;
text-align: center;
color: white;
padding: 0 250px;
}

/* section{ */

    main h1{

        font-size: 72px;
    }

    main p{

        font-size: 30px;
    }


footer{
height: 100px;
text-align: center;
color: white;
font-size: 25px;

}

footer p { 

    padding-top: 40px;
background-color: rgba(0, 0, 0, 0.3);

}